.avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.wrapper{
    display: flex;
}

.selectedPage{
    font-weight: 700;
    color: lightgreen;
}

.pageNumber{
    color: rgb(202, 247, 0);
}