.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr;
}

.app__wrapper{
  /* position: relative; */
  /* padding-top: 72px; */
  display: flex;
}
.menu_block{
  flex: 0 0 15%;
  background-color: #588157;
  position: relative;
  padding: 30px 0 0 30px;
}

.app__content {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1410px;
  margin: 0 auto;
}







